.icon {
  width: 14px;
  height: 14px;
}

.tasks-page h2 {
  font-size: 20px;
  font-weight: 500;
}

.tasks-page p {
  color: #78767d;
  font-size: 14px;
}

.tasks-list {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.task {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #d5d5d7;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-left {
  display: flex;
}

.task-left input[type="checkbox"] {
  cursor: pointer;
}

.task-left .task-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

.task-left .task-details span {
  font-size: 14px;
}

.task-left .task-details .top-details {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.task-left .task-details .top-details .task-name {
  font-weight: 600;
}

.task-left .task-details .top-details .priority {
  border-radius: 4px;
  padding: 1px 5px;
  font-size: 12px;
  margin: 0px 10px;
}

.priority.priority-low {
  background-color: #d8f7dd;
  color: #319f43;
}

.priority.priority-high {
  background-color: #f8d7d5;
  color: #dc362e;
}

.priority.priority-medium {
  background-color: #f3f3c1;
  color: rgb(160, 160, 11);
}

.task input[type="checkbox"]:checked + .task-details .task-name {
  opacity: 0.6;
  text-decoration: line-through;
}

.task input[type="checkbox"]:checked + .task-details span {
  opacity: 0.5;
}

.task-left .task-details .top-details .is-due {
  display: flex;
  align-items: center;
  padding: 1px 10px;
  border: 1px solid;
  border-radius: 8px;
  font-size: 12px;
}

.task-left .task-details .top-details .icon {
  margin-right: 8px;
}

.task-left .task-details .bottom-details {
  display: flex;
  align-items: center;
}

.task-left .task-details .bottom-details .tags {
  display: flex;
  align-items: center;
}

.task-left .task-details .bottom-details .tags .tag-item {
  margin: 0px 8px;
  font-size: 12px;
}

.task-left .task-details .bottom-details .tags .icon {
  margin-left: 10px;
}

.task-left .task-details .bottom-details .category {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border: 1px solid;
  border-radius: 8px;
  font-size: 12px;
  text-transform: capitalize;
}

.notasks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.notasks img {
  width: 400px;
}

.notasks h3 {
  color: #7f67be;
  font-size: 20px;
  margin-bottom: 10px;
}

.notasks p {
  color: #78767d;
  font-size: 16px;
}

.hidden {
  display: none;
}

.status {
  padding: 1px 8px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
  margin-left: 4px;
}

.status-completed {
  color: #319f43;
  background-color: #d8f7dd;
  border: 1px solid #319f43;
}

.status-pending {
  color: #978a33;
  background-color: #ffffef;
  border: 1px solid #a3a532;
}

.status-overdue {
  color: #dc362e;
  background-color: #f8d7d5;
  border: 1px solid #dc362e;
}

